!!!
%head
  %title 
    = title
  = stylesheet_link_tag 'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags
= render 'layouts/header'
.container{:style => " padding-top: 80px;"}
  %header{:id => "overview", :class => "jumbotron subhead"}
    = yield
= render 'layouts/footer'